{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WheresThat?</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.min.js"></script>
  <link rel = "stylesheet" href = "{% static 'app/css/style.css' %}">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script language="javascript" type="text/javascript" src="{% static 'app/js/spot.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'app/js/sketch.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
      <!--CSS for tooltip-->
  <style>
    .backdrop{
       background-color: purple;
     }
  </style>
  <!-- <script src="{% static 'app/js/sketch.js' %}"></script> -->
</head>
<body style='background:#e57373'>

  <div style = "background-color: white">
  <div class = 'display_form' style = "display:none; float: left;">
    <div class = 'modal-content'>
      <div><span style="float: left;" onclick="$('.display_form').hide();" class = 'close mr-3 mt-1'>&times; </span></div>
      <p>Shop name</p>
      <input class="shop_name" >
      <p>Shop description</p>
      <input class="shop_description">
    </div>
  </div>
  </div>

<div class = "flex-container" style="display:flex">

  <div class="card-panel red lighten-5" id="canvas" style='height:80% ;  width:50%; margin-left:8%; margin-top:2.5%;margin-bottom:2.5%; '>              

    <div style="position: relative; display: inline-block; ">  
    </div>
    <span> 

      <button class="btn waves-effect waves-light" type="submit" name="action" style='z-index:0; margin-left:45%;margin-bottom:1%' onclick='startAStar()'>Start</button>
    </span>
    <!-- <span>
      <button class="btn waves-effect waves-light" type="submit" name="action" style='margin-left:45%' onclick='reset()'>Reset</button>
    </span> -->

  </div>
  

  <div class="action-btn drop-down" style="z-index:0; margin-left: 5%; margin-top:5% ;padding-right:5%; padding-bottom:5%; ">
    <ul>
    <li style = "margin-bottom: 20%" data-toggle="tooltip1" title="Obstacle"><button onclick="blacker()" class = "btn-floating drop-down grey" ></button>
    <li style = "margin-bottom: 20%" data-toggle="tooltip1" title="Shops"><button onclick="redify()" class = "btn-floating drop-down red" ></button>
    <li style = "margin-bottom: 20%" data-toggle="tooltip1" title="User Location"><button onclick="greenify()" class = "btn-floating drop-down green" ></button>
    <li style = "margin-bottom: 20%" data-toggle="tooltip1" title="Shop location"><button onclick="bluify()" class = "btn-floating drop-down blue" ></button>
    <li style = "margin-bottom: 20%" data-toggle="tooltip1" title="Erase"><button onclick="whiteify()" class = "btn-floating drop-down white" ></button>  
    </ul>
  </div>


<div style="display: flex">

  <div class="row" >
    <div class="col s12 m6" >
      <div class="card red lighten-5 small" style = "margin-right:30px; margin-top:15%; width: 100%;">
        <div class="card-content white-text" style="text-align: center;">
          <span class="card-title" style = "text-align: center; color: black">Shop name:</span>
          <input id="shop_name" type="text">
          <p class="card-title" style = "text-align: center;color: black">Shop details:</p>
          <input id="shop_description" type="text">
          <button style = "z-index:0" class="btn waves-effect waves-light" id="submit_shop" type="submit" name="action">Submit</button>
        </div>
        <div class="card-action">
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" >
    <div class="col s12 m6" >
      <div class="card red lighten-5 small" style = "text-align: center;margin-right:30px; margin-top:15%; width: 100%;">
        <div class="card-content white-text">
          <span class="card-title" style = "text-align: center; color: black">Search Item:</span>
          <input class="user" type="text" placeholder='Enter item name'>
          <p class="card-title" style = "color: black"></p>
          <input type="text">
          <button style = "z-index:0" onclick="search_shop()" class="btn waves-effect waves-light" type="submit" name="action">Search</button>
        </div>     
        <div class="card-action">
          
        </div>
      </div>
    </div>
  </div>
</div>

<p class="test">Nothing</p>
</div>
 
  <script language="javascript" type="text/javascript" src="{% static 'app/js/sketch.js' %}"></script>
      
</body>
</html>

