{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WheresThat?</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.min.js"></script>
  <link rel = "stylesheet" href = "{% static 'app/css/style.css' %}">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script language="javascript" type="text/javascript" src="{% static 'app/js/spot.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'app/js/sketch.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
  
  <!-- <script src="{% static 'app/js/sketch.js' %}"></script> -->
</head>
<body style='background:#e57373'>

  <div style = "background-color: white">
  <div class = 'display_form' style = "display:none; float: left;">
    <div class = 'modal-content'>
      <div><span style="float: left;" onclick="$('.display_form').hide();" class = 'close mr-3 mt-1'>&times; </span></div>
      <p>Enter shop name</p>
      <input type="text" class="shop_name" >
      <p>Enter shop description</p>
      <input type="text" class="shop_description">
    </div>
  </div>
  </div>


  <div class="card-panel red lighten-5" style='width: 850px;margin-left:50px;margin-top:50px'>              
    <div id="canvas">
      <!-- sketch.js will come here -->
    </div>
  </div>

  <div class="action-btn drop-down" style="padding-right: 400px; float: right;">
      <ul>
      <li style = "margin-bottom: 20%"><button onclick="blacker()" class = "btn-floating drop-down grey"></button>
      <li style = "margin-bottom: 20%"><button onclick="greenify()" class = "btn-floating drop-down green"></button>
      <li style = "margin-bottom: 20%"><button onclick="bluify()" class = "btn-floating drop-down blue"></button>
      <li style = "margin-bottom: 20%"><button onclick="whiteify()" class = "btn-floating drop-down white"></button>  
      </ul>
  </div>

  <script language="javascript" type="text/javascript" src="{% static 'app/js/sketch.js' %}"></script>
      
</body>
</html>

